//Bu Sass Dosyası Esra ve Emrah  tarafından kodlanmıştır.

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

//Variable
@import "variable/_variable";
@import "variable/_mixins";

//Partials
@import "partials/_header";
@import "partials/_home";
@import "partials/_footer";

* {
    box-sizing: border-box;
}


body {
    background-color: $base_color;
    width: 100%;
    min-height: 100vh;
    font-size: $size;
    font-family: $family;
    color: $primary_color
}

.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
    -ms-touch-action: auto;
    touch-action: auto;
}

.aligns_item {
    @include flex;
    @include align-items(center);
}